.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.filterPart {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.descdiv {
  display: flex;
  flex-direction: column;
}